
@{ 
    ViewBag.Title = "Index";
    //Layout = null;
}

<div class="row">
    <form ide="frmLogin" action="/" method="post">
      <div class="col-lg-6 col-lg-offset-3">
          Usuario: <input type="text" name="user"/>
          Password: <input type="password" name="pwd"/>
          <input type="submit" value="Ingresar" class="btn-success"/> <!-- Boton Succes es el estilo para poner el boton verde de ingreso -->


      </div>
    </form>

</div>
<script> 

</script>